.playknop{
    display: flex;
    align-items: flex-end;
}

.playknop img{
    display: flex;
    max-width: 50%;
}

.video{
    display: flex;
    align-items: flex-end;

}

.video iframe{
    display: flex;
    
}