.text{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    color: rgb(173, 173, 173);

    font-size: 150%;
}

.CoverImage{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.CoverImage img{
    display: flex;
    max-width: 100%;
}

.CoverImage a{
    font-size: 300%;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    max-width: 100%;
}

.afspeelknop{
    display: flex;
    flex-direction: column;
    align-self: flex-end;

    max-width: 100%;
}

.afspeelknop img{
    display: flex;
    align-self: flex-end;
}

text{
    color: rgb(79, 74, 83);
    max-width: 50%;
}

li{
    max-width: 50%;
}