body {
    background-color: black;
}
h2{
    color: white;
}
.upperbar{
    background-color: gray;
}
.logoText{
    color: red;
}
ul.filmlist li {
    display:inline;
}
.filmlist img{
    width: 200px;
    height: 130px;
    padding-right: 50px;
    padding-top: 20px;
}

.filmList{
    float: left;
}