body {
    background-color: rgb(19, 19, 19);

}

h2 {
    color: white;
}

header{
    background-color: rgb(99, 99, 99);
}

header img{
    height: 100px
}

.searchbar{
    padding-left: 4%;
}

.searchbar form{
    position: relative;
    top: 25%;
    height: 50%;
    display: flex;
    flex-direction: row;
}

.searchbar input{
    font-size: 100%;
}

.upperbar {
    position: relative;
    left: 2%;
    width: 96%;
    display: flex;
    justify-content: space-between;
}

.buttonlist{
    display: flex;
}

.button {
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;

    text-align: center;
    background-color: white;
    font-size: larger;
}

.logoText {
    display: flex;
    color: red;
}

footer{
    display: flex;
    justify-content: center;
    background-color: rgba(160, 152, 152, 0.342);
}