body {
    background-color: rgb(19, 19, 19);

}

h2 {
    color: white;
}

header{
    background-color: rgb(99, 99, 99);
}

header img{
    height: 100px
}

.searchbar{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25%;
    height: 50%;
}

.upperbar {
    position: relative;
    left: 2%;
    width: 96%;
    display: flex;
    justify-content: space-between;
}

.button {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 30px;
    font-size: larger;
}

.logoText {
    display: flex;
    color: red;
}
