.filmlist img{
    position: relative;
    width: 100%;
    height: 80%;
}

.filmlist{
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.filmlist div a{
    text-decoration: none;
}

.filmlist div{
    font-size: larger;
    text-align: center;
    word-wrap: break-word;
    background-color: gray;
}

main{
    height: 100%;
}

body{
    height: 100%;
}

html{
    height: 100%;
}
