.filmlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filmlist div a{
    margin: 1%;
    background-color: grey;
    padding: 2%;
    color: white;
    display: flex;
    flex-direction: column;
}

main{
    height: 100%;
}

body{
    height: 100%;
}

html{
    height: 100%;
}
