main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.filterlist div{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.filmlist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filmlist div{
    max-width: 17%;
    margin-bottom: 2%;
}

.filmlist div a{
    margin: 1%;
    background-color: grey;
    padding: 2%;
    color: white;
    display: flex;
    flex-direction: column;
}